# Virtual environment
.venv/

# VS Code
.vscode/

# Data & images (DO NOT UPLOAD)
datasets/
Photo/
data/

# YOLO outputs & weights
runs/
runs_detect/
*.pt

# Logs
*.log

# Python cache
__pycache__/
*.pyc
